<script setup lang="ts">
import { computed, reactive, ref, watch } from 'vue';


const title = ref('เครื่องคำนวณหาค่าดัชนีมวลกาย(BMI)')
const weight = ref('น้ำหนักตัว(kg)')
const height = ref('ส่วนสูง (cm.)')
const pW = ref(0)
const pH = ref(0)
const bmi = ref(0);


const bmiStyle = reactive({
    center: true,
    size: false
})

const myStyle = reactive(
    {
        fontSize: '20pt',
        border: '2pt',
        borderStyle: 'solid'
    }
)
function bmiCal(w: number, h: number) {
    bmi.value = w / ((h / 100) ** 2);
    console.log(bmi)
}

watch([pW, pH], () => {
    bmiCal(pW.value, pH.value);
});

const bmiSelected1 = ref(false);
const bmiSelected2 = ref(false);
const bmiSelected3 = ref(false);
const bmiSelected4 = ref(false);
const bmiSelected5 = ref(false);

watch(bmi, () => {

  bmiSelected1.value = false;
  bmiSelected2.value = false;
  bmiSelected3.value = false;
  bmiSelected4.value = false;
  bmiSelected5.value = false;

  if (bmi.value < 18.50) {
    bmiSelected1.value = true;
  } else if (bmi.value < 23) {
    bmiSelected2.value = true;
  } else if (bmi.value < 25) {
    bmiSelected3.value = true;
  } else if (bmi.value < 30) {
    bmiSelected4.value = true;
  } else if (bmi.value >= 30) {
    bmiSelected5.value = true;
  }
});


</script>

<template>
    <h1 :class="bmiStyle" :style="myStyle">{{ title }}</h1>
    <div class=center style="font-size: 15pt;">
        <p :class="bmiStyle">{{ weight }}</p>
        <input v-model="pW" type="text" style="font-size: 15pt;" placeholder=" ">
        <p :class="bmiStyle">{{ height }}</p>
        <input v-model="pH" type="text" style="font-size: 15pt;" placeholder=" ">
        <br><br>
        <button style="font-size: 15pt;" @click="bmiCal(pW, pH)">คำนวณ</button>
    </div>
    <br>
    <div :class="bmiStyle">
        <h1 style="color:gray">BMI</h1><br>
        <textarea v-model="bmi" style="text-align: center;font-size: 15pt;"></textarea>
    </div>

    <table style="border:2px solid; border-collapse: collapse;width: 100%;">
        <thead>
            <tr>
                <th>BMI kg/m²</th>
                <th>อยู่ในเกณท์</th>
                <th>ภาวะเสี่ยงต่อโรค</th>
            </tr>
        </thead>
        <tbody>
            <tr :class="{ highlight: bmiSelected1 }">
                <td>น้อยกว่า 18.50</td>
                <td>น้ำหนักน้อย / ผอม</td>
                <td>มากกว่าคนปกติ</td>
            </tr>
            <tr :class="{ highlight: bmiSelected2 }">
                <td>18.50 - 22.90</td>
                <td>ปกติ (สุขภาพดี)</td>
                <td>เท่าคนปกติ</td>
            </tr>
            <tr :class="{ highlight: bmiSelected3 }">
                <td>23 - 24.90</td>
                <td>ท้วม / โรคอ้วนระดับ 1</td>
                <td>อันตรายระดับ 1</td>
            </tr>
            <tr :class="{ highlight: bmiSelected4 }">
                <td>25 - 29.90</td>
                <td>อ้วน / โรคอ้วนระดับ 2</td>
                <td>อันตรายระดับ 2</td>
            </tr>
            <tr :class="{ highlight: bmiSelected5 }">
                <td>มากกว่า 30</td>
                <td>อ้วนมาก / โรคอ้วนระดับ 3</td>
                <td>อันตรายระดับ 3</td>
            </tr>
        </tbody>
    </table>
</template>

<style>
.center {
    text-align: center;
}

.size {
    font-size: 10pt;
}

th,
td {
    border: 2px solid;
    text-align: center;
}

.highlight {
    background-color: aquamarine;
}</style>