<script setup lang = "ts">
import DeclarativeRendering from './components/DeclarativeRendering.vue'
import AttributeBindings from './components/AttributeBindings.vue';
import EventListeners from './components/EventListeners.vue';
import FormBIndings from './components/FormBIndings.vue';
import ConditionalRendering from './components/ConditionalRendering.vue';
import ListRendering from './components/ListRendering.vue';
import BMI from './components/BMI.vue';
</script>
<template>

<BMI />

</template>